.body{
    width: 100%;
    position: absolute;
   
}
.container{
    color:white;
    padding-left:0px;

}
/*-------------navbar styles-----------------------*/

#logo{
    color:white;
}

.navbar-nav>li>a{
    color:white;
}
.icon-bar{
    color:white;
}

.bg-image{
    background-image: url(images/mountain.jpg);
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
} 


#navagation.scrolled{
    color: white;
    background-color:black;
    transition:900ms ease;
   
}

li.active#home a{
    color:rgb(17, 248, 17);
    background-color:transparent;
}

.dropdown-menu{
    color:white;
}

.navbar-header{
    color:ivory;
}

#navagation{
  
background-color:  transparent;
color: ivory;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-bottom: 0px;
padding-left: 10em;
padding-right: 10em;
border-style: none;
}

/*----------navbar end-------*/



/*------------home page styling------*/

#header{
    display:flex;
    height:750px;
    min-height: 100%;
    width: 100%;
padding-top: 150px;

text-align: center;
align-items: center;

}
#header h1{
   
    color: white;
    font-size: 10rem;
    text-align: center;
    font-family: inherit;
    font-weight: 100;
    padding-bottom: 15px;
    background: transparent;
}
#header p{
    color:white;
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;
}

/*----------------home page end---*/

/*-------------grid styling------*/

.row{
    width: 100%;
    margin-right: 0;
}


#row.container{
    background-color: chartreuse;
    padding-left:10rem;
    padding-right:10rem;
    padding-top: 5rem;
    padding-bottom:5rem;
    margin-left:0;
    margin-right:0;
    border-right:0;
    width: 100%;
}
#row.container h2{
    font-size: 3.5rem;
    padding-bottom: 3rem;
    text-align: center;

}
#row.container p{
    font-size: 1.5rem;
    padding-left: 6rem;
    padding-right: 6rem;

}

.content .row{
    height:100%;
    margin-right:0;

    
}

/*-----------grid styling enddd-----*/

/*////////////////////// buttons //////////////////////////*/


#1b.btn .btn-lg{
    color: rgb(88, 250, 39);
    background-color: white;
    text-align: center;

}

}
#2b{
    color:white;
    background-color: chartreuse;
}


.btn{
    background-color: rgb(126, 247, 4);
margin: auto;
color:white;
border-radius: 300px;
border-color: 0;
    
}
.btn2{
    background-color: white;
    color:black;
    border-radius: 300px;
    margin-left: 50px;
}

#button2{
    padding-left: 1em;
    color:white;
}

/* ---------------button end---------*/

/*///////////Glyphicon/////////////////////////////*/

#apple {
    color:white;
    text-align: center;
    
}
#phone{
    margin-top:10px;
}

#pushpin{
    font-size: 3em;

}

#phone{
        font-size: 3em;

 }

.glyphicon.glyphicon-envelope{
        font-size: 3em;
        margin-left: 5px;
}

#content4 .glyphicon{ 
    color:chartreuse
}
/*///////////////Glyphicon endss////////////////*/


   

#content{
    color:black;
    height: auto;
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    line-height: 1.4;
    width:100%;
}


#content h2{
    font-size: 5.5em;
    padding-bottom: 1.1em;
}
#content p{
    font-weight: lighter;
    padding-bottom:4em;
}
p.font2{
    padding-bottom: 5px;
}
#content img{
 
    padding-left: 0;
    size:70%;
}
#black{
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#content2{
    margin-left:0;
    margin-right:0;
    width: 100%;
    padding-right:20px;
    padding-left:20px;
    vertical-align: 50%;
}
#content2.row{
    color: white;

background-color: black;
background-size: 100%;
height:100%;
padding-top: 3em;
padding-bottom: 2.5em;
padding-right: 3;
padding-left: 3;
line-height: 1.6;
width:100%;
border-right: 0;
margin-right: 0;
margin-left: 0;
vertical-align: 50%;
}

#content2, h2{
    font-size: 1.75em;
    padding-left: 5rem;
    padding-right:3rem;
    
}
#content2 p{
    font-size: 0.75em;
    opacity:0.5;
    padding-left: 5rem;
    padding-right:3rem;
}

}
#superior-col{
    align-items: center;
    text-align: center;
    padding-top: 10rem;
   
}


#content3{
    height: auto;
    margin-left:0;
    margin-right:0;
    width:100%;
    color: white;
    padding-left:0;
    padding-right:0;
}

.item-1 h2{
    margin-top:0;
    margin-bottom: 0;
    padding-top: 5em;
    padding-bottom: 5em;
    
}

.item-1{
    background-image: url(images/writing.jpg);
    background-position: 50% 50%;
    height:100%
}
.item-2{
    background-image: url(images/concert.jpg);
    background-position: 50% 50%;
    height:100%;
}


.item-2 h2{
    margin-top:0px;
    margin-bottom: 0;
    padding-top: 5em;
    padding-bottom:5em ;
}
.item-3 h2{
    margin-top:0;
    margin-bottom: 0;
    padding-top:5em;
    padding-bottom: 5em;
}

.item-3{
    background-image: url(images/pencil.jpg);
    background-position: 50% 50%;
    height:100%;
}


#content4{
    text-align: center;
    align-items: center;
    padding-top: 3em;
  color:black;
    padding-left: 1em;
    margin-left:0;
    margin-right:0;
    width:100%;
}





footer{
    background-color: chartreuse;
    color: white;
}

 /*//////////////query begins//////////////////*/


@media only screen and (max-width: 1024px) {
   
    #header h1 { 
               font-size:7rem;
    
   }
    }

@media only screen and (max-width: 740px) {
 
 #header h1 { 
            font-size:5rem;
 
 }

}


@media only screen and (max-width: 452px) {
    
    #header h1 { 
               font-size:4rem;
    
    }
    /*///////////////////query ends////////////////////*/
   }

