.body{
    width: 100%;
    
}
.bg-image{
    background-image: url(images/mountain.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    
}

#content4 .glyphicon{ 
    color:chartreuse
}

.dropdown-menu{
    color:white;
}
.navbar-header{
    color:ivory;
}

   
.container a{
    color:white;
}

.navbar-brand{
    color:white;
}

#navagation{
 
color: white;
text-align: center;
margin-bottom: 0;
background-color: rgba(122, 78, 78, 0.1);

border-style: none;

}
#header{
padding-bottom: 14em;
    color:white;
    width: 100%;
padding-top: 10em;
margin-left: auto;
text-align: center;
}

#header h1{
    color: white;
    font-size: 80px;
    text-align: center;
    font-family: inherit;
    font-weight: 100;
    padding-bottom: .2em;
}
#header p{
    font-size: 16px;
    text-align: center;
    padding-bottom: 3em;
    color: white;
}
li#home.active a{
    color:rgb(17, 248, 17);
    background-color:transparent;
}

#section1{
    background-color: rgb(131, 216, 46);
    padding: 5em;
    text-align: center;
  
}

/*////////////////////// buttons //////////////////////////*/


#1b.btn .btn-lg{
    color: rgb(88, 250, 39);
    background-color: white;
    text-align: center;

}

}
#2b{
    color:white;
    background-color: chartreuse;
}


.btn{
    background-color: rgb(126, 247, 4);
margin: auto;
color:white;
border-radius: 300px;
border-color: 0;
    
}
.btn2{
    background-color: white;
    color:black;
    border-radius: 300px;
}






/*///////////Glyphicon/////////////////////////////*/
span.glyphicon.glyphicon-apple {
    color:white;
}

#content{
    color:black;
    height: 40em;
    padding-top: 3em;
    padding-left: 3em;
    line-height: 1.4;
    width:100;
}
#content h2{
    font-size: 35px;

    
}
#content p {
    font-size:20px ;
    font-weight: l00;
    color:rgb(121, 110, 110)
}

#content2.row{
    color: white;
background-color: black;
background-size: 100%1;
height:550;
padding-top: 5em;
padding-bottom: 2em;
padding-right: 2em;
padding-left: 5em;
line-height: 1.42;
width:100%;
border-right: 0;
margin-right: 0;
margin-left: 0;

}

#content2, h1{
    font-size: 35px;
}
#content2 h2{
    font-size: px;
}
#content2 p{
    font-size: 20px;
}

#content3{
    height: 6em;
    margin:0;
    width:100%;
    color: white;
}

.item-1 h2{
    margin-top:0;
    margin-bottom: 0;
    padding-top: 6em;
    padding-bottom: 6em;
    
}

.item-1{
    background-image: url(images/writing.jpg);
    background-position: 50% 50%;
    height:100%
}
.item-2{
    background-image: url(images/concert.jpg);
    background-position: 50% 50%;
    height:100%;
}


.item-2 h2{
    margin-top:0;
    margin-bottom: 0;
    padding-top: 6em;
    padding-bottom:6em ;
}
.item-3 h2{
    margin-top:0px;
    margin-bottom: 0px;
    padding-top:6em;
    padding-bottom: 6em;
}

.item-3{
    background-image: url(images/pencil.jpg);
    background-position: 50% 50%;
    height:100%;
}
.content .row{
    height:100%;
    margin-right:0;

    
}

#content4{
    
  color:black;
    align-content: center;
}

#content4 h2{
    align-content: center;
    padding-left: 10em;
}

 

#button2{
    padding-left: 10em;
}
#pushpin{
    align-content: center;
}
    
#footer{
    background-color: chartreuse;
    color: white;
}




